{% extends 'admin.twig' %}

{% set title %}{{ 'SDG_SDG'|translate }}{% endset %}
{% block content %}
<div class="card ng-isolate-scope" piwik-content-block="" content-title="Single Digital Gateway">
  <div class="card-content">
    <div style="float:right">
        <a style="text-decoration:none" href="https://digitalist.cloud/">
          <img src="plugins/SDG/assets/dot.png" height="40" />
        </a>
    </div>
    <h1 class="card-title">{{ 'SDG_SDG'|translate }}</h1>
    <h2>
      {{ 'SDG_DocsHeading'|translate }}
    </h2>
    <p>
      {{ 'SDG_DocsDescription'|translate }}
    </p>
    <h2>
      {{ 'SDG_DocsInstallationHeading'|translate }}
    </h2>
    <p>
      {{ 'SDG_DocsInstallationDescription'|translate|raw }}
    </p>
    <h2>
      {{ 'SDG_DocsSettingsHeading'|translate }}
    </h2>
    <p>
      <img src="plugins/SDG/screenshots/general_settings.png" alt="Configure SDG in General settings" title="General settings" style="max-width: 100%; margin: 20px 0px">
    </p>
    <h3>
      {{ 'SDG_DocsSettingsEnvironmentHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsSettingsEnvironmentDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsSettingsSendHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsSettingsSendDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsSettingsApiHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsSettingsApiDescriptionFirst'|translate }}
    </p>
    <p>
      <img src="plugins/SDG/screenshots/manage.png" alt="Configure measurable" title="Manage measurable" style="max-width: 100%; margin: 20px 0px">
    </p>
    <p>
      {{ 'SDG_DocsSettingsApiDescriptionSecond'|translate }}
    </p>
    <p>
      <img src="plugins/SDG/screenshots/manage_settings.png" alt="Manage SDG settings for measurable" title="Manage SDG" style="max-width: 100%; margin: 20px 0px">
    </p>
    <p>
      {{ 'SDG_DocsSettingsApiDescriptionThird'|translate }}
    </p>
    <h2>
      {{ 'SDG_DocsReportHeading'|translate }}
    </h2>
    <p>
      {{ 'SDG_DocsReportDescription'|translate }}
    </p>
    <p>
      <img src="plugins/SDG/screenshots/statistics.png" alt="Report of SDG" title="Report" style="max-width: 100%; margin: 20px 0px">
    </p>
    <h2>
      {{ 'SDG_SendStatus'|translate }}
    </h2>
    <p>
      {{ 'SDG_DocsSendStatusDescription'|translate }}
    </p>
    <h2>
      {{ 'SDG_DocsConsoleCommandsHeading'|translate }}
    </h2>
    <p>
      {{ 'SDG_DocsConsoleCommandsDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsConsoleCommandsEnvironmentHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsConsoleCommandsEnvironmentDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsConsoleCommandsGetUrlsHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsConsoleCommandsGetUrlsDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsConsoleCommandsSendHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsConsoleCommandsSendDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsConsoleCommandsSetApiKeyHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsConsoleCommandsSetApiKeyDescription'|translate }}
    </p>
    <h3>
      {{ 'SDG_DocsConsoleCommandsSetUrlsHeading'|translate }}
    </h3>
    <p>
      {{ 'SDG_DocsConsoleCommandsSetUrlsDescription'|translate }}
    </p>
  </div>
</div>
{% endblock %}
